.index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-xl);
  padding: var(--space-m);
  flex: 1;
}

.index .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
}

.index .logo h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

.index form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: stretch;
  width: 100%;
  max-width: 500px;
}

.index form,
.index .menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: stretch;
  width: 100%;
  max-width: 500px;
}

.index form input {
  font-size: 1.2em;
  padding: var(--space-s) var(--space-m);
  color: #fff;
  background-color: #000;
  border: var(--border);
  border-radius: var(--border-radius);
}

.index form .actions {
  display: flex;
  gap: var(--space-m);
  flex-wrap: wrap;
}

.index a {
  flex: 1;
  display: flex;
  text-decoration: none;
}

.index button {
  flex: 1;
  font-size: 1.1em;
}

.index button span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}
