.kantua {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  padding: var(--space-m);
  gap: var(--space-xl);
  height: 100%;
}

.lyrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  min-width: min(100%, 360px);
  max-width: 640px;
  margin-top: var(--space-xxl);
}

@media screen and (max-width: 900px) {
  .lyrics {
    margin-top: var(--space-xl);
  }
}

.lyrics h1 {
  margin: 0;
  font-size: 1.4em;
  line-height: 1;
  text-align: center;
}

.lyrics a {
  font-size: 0.9em;
  margin-bottom: var(--space-l);
  text-align: center;
}

.lyrics p {
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 1.2em;
  margin: 0;
  max-width: 100%;
}

.separator {
  display: flex;
  border-right: var(--border);
  align-self: stretch;
  margin: calc(3 * var(--space-xxl)) 0;
  border-right: var(--border);
}

@media screen and (max-width: 900px) {
  .separator {
    width: 72%;
    border-right: none;
    border-bottom: var(--border);
    margin: 0;
  }
}

.resources {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: min(100%, 360px);
  max-width: 640px;
  gap: var(--space-l);
  margin-top: var(--space-xxl);
}

@media screen and (max-width: 900px) {
  .resources {
    margin-top: 0;
  }
}

.resources .source {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resources .sheet {
  max-width: 100%;
  mix-blend-mode: multiply;
  clip-path: inset(4px 4px 4px 4px);
}

.resources midi-player {
  margin-top: -24px;
}

.resources midi-player::part(control-panel) {
  border-radius: var(--border-radius);
  border: none;
  background-color: transparent;
}

.resources midi-player::part(play-button) {
  color: var(--text-primary);
}
