.scroll-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--space-m);
  right: var(--space-l);
  width: 48px;
  height: 48px;
  font-size: 24px;
  z-index: 1000;
  padding: var(--space-xs);
}

.scroll-to-top[hidden] {
  display: none;
}
