.search-input {
  display: flex;
  flex: 1;
  gap: var(--space-s);
}

.search-input input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: var(--space-xs) var(--space-s);
  color: var(--text-primary);
  border: var(--border);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
}
