.topbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  gap: var(--space-l);
  padding: var(--space-m);
  border-bottom: var(--border);
  flex-wrap: wrap;
  background-color: var(--background-secondary);
  z-index: 2;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .topbar {
    margin-top: 0;
    gap: var(--space-m);
  }
}

.topbar .logo {
  display: flex;
  cursor: pointer;
  gap: var(--space-m);
  text-decoration: none;
  align-items: center;
}

.topbar .logo h1 {
  margin: 0;
  line-height: 1;
  color: var(--text-primary);
  position: relative;
  top: 0.125em;
}

.topbar .search-input {
  margin-right: auto;
}

.topbar .menu {
  display: flex;
  gap: var(--space-s);
}

.topbar .menu a {
  text-decoration: none;
}

/* @media screen and (max-width: 900px) {
  .menu a {
    display: none;
  }
} */
