.translations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translations ul {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.translations li a {
  text-decoration: none;
  font-size: 1.5em;
}
