.virtual-container {
  flex: 1;
  contain: strict;
  overflow: auto;
  position: relative;
}

.virtual-container header {
  padding: var(--space-m);
  border-bottom: var(--border);
  text-align: center;
}

.virtual-container header h1,
.virtual-container header p {
  margin: 0;
}

.virtual-list {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.virtual-item {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: var(--border);
  will-change: transform;
}

.virtual-item a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  padding: var(--space-m);
}

.virtual-item a:hover {
  background-color: var(--background-primary);
}

.virtual-item .summary {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--space-m);
  margin-right: var(--space-s);
}

.virtual-item .title,
.virtual-item .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.virtual-item .description {
  font-size: 0.9em;
  color: var(--text-secondary);
}
