:root {
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-xxl: 72px;

  --text-primary: #000000;
  --text-secondary: #666666;
  --background-primary: #eee;
  --background-secondary: #fafafa;
  --background-ternary: #dddddd;
  --overlay: #eee8;
  --border: 1px solid #dddddd;
  --border-radius: 4px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
p {
  font-family: serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: var(--border);
  padding: var(--space-s) var(--space-m);
  color: var(--text-primary);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  position: relative;
  text-align: left;
  gap: var(--space-s);
}

button:hover {
  background-color: var(--background-secondary);
}

button:active {
  background-color: var(--background-ternary);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
}
